ABSOLUTE_PATH=${PWD}
TZ=Europe/Berlin
SERVICES_TRAEFIK_LABELS_TRAEFIK_HOST=HOST(`traefik.yourdomain.com`)
# Optional für die Dashboard-Domain: cloudflare_resolver statt tls_resolver
SERVICES_TRAEFIK_LABELS_TRAEFIK_CERTRESOLVER=cloudflare_resolver
BOUNCER_KEY_TRAEFIK=
BOUNCER_KEY_FIREWALL=
