TZ=$TZ

# Optional: API-Token für den Cloudflare-DNS-Challenge-Resolver.
# Benötigte Berechtigungen: Zone:DNS:Edit und Zone:Zone:Read.
CF_DNS_API_TOKEN=

# Optional: Domain-Token für den deSEC-DNS-Challenge-Resolver.
DESEC_TOKEN=
