http:
  middlewares:
    crowdsec:
      plugin:
        bouncer:
          enabled: true
          logLevel: INFO
          crowdsecMode: stream
          crowdsecLapiScheme: http
          crowdsecLapiHost: crowdsec:8080
          crowdsecLapiPath: "/"
          crowdsecLapiKey: /run/secrets/crowdsec_lapi_key
          crowdsecAppsecEnabled: true
          crowdsecAppsecScheme: http
          crowdsecAppsecHost: crowdsec:7422
          crowdsecAppsecPath: "/"
          crowdsecAppsecFailureBlock: true
          crowdsecAppsecUnreachableBlock: true
          crowdsecAppsecBodyLimit: 10485760
          crowdsecAppsecUnreadableBodyBlock: false
          # Produktion: AppSec-Fehler oder Nichterreichbarkeit blockieren Requests.
          crowdsecAppsecFailureBlock: true
          crowdsecAppsecUnreachableBlock: true
